@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@font-face {
    font-family: "Hugs and Kisses";
    src: url("../fonts/Hugs-and-Kisses.ttf") format("truetype");
}


$montserrat: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
$hugs: 'Hugs and Kisses';