@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin img-fluid {
  max-width: 100%;
  height: auto;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin card($background, $border) {
  background-color: $background;
  border-color: $border;

  .card-header,
  .card-footer {
    background-color: transparent;
  }
}


@mixin text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: $font-weight-normal;
  letter-spacing: normal;
  line-break: auto;
  line-height: $line-height-base;
  text-align: left;
}

@mixin hide-elem {
  visibility: hidden !important;
}
