// Bootstrap badges to display food properties
@import "_mixins";

.badge {
	@include size(20px);
	padding: 3px 5px;
	vertical-align: top;
	img {
		margin: 0;
		padding: 0;
		width: 100%;
		margin-bottom: 5px;
	}
}

//  This is how we can use them
//  SPICY <span class="badge badge-pill badge-danger"><img src="images/badges/spicy.png"></span>
//  CHEESE <span class="badge badge-pill badge-warning"><img src="images/badges/cheese.png"></span>
//  MIKEGGS <span class="badge badge-pill badge-info"><img src="images/badges/milkeggs.png"></span>
//  VEGAN <span class="badge badge-pill badge-success"><img src="images/badges/vegan.png"></span>