@import "_colors";

/* GALLERY */

#gallery {
  h1 {
    margin-bottom: 30px!important;
  }
  
  .owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
  }

  
  .owl-dots {
    margin-top: 30px;  // To center the dots
    text-align: center;
  }
  .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: $green;
    margin-right: 5px;
    display: inline-block;  // To make them horizontal
  }
  .owl-dot.active {
    background: $sky-blue;
  }
}
