@import "_fonts";

/* HEADER */

header {
  //background-image: url("../images/bg/bg-header.jpg");
  //background-size: 100% 100%;
  //background-size: cover; 
  position: relative;
  min-height: auto;
  text-align: center;
  color: #001A33;
  width: 100%;
  //background-color: #fff;
  .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
    .inner {
      h1 {
        font-family: $hugs;
        font-size: 6em!important;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 50px;
        font-size: 16px;
        font-weight: 300;
        color: #222;
      }
    }
  }
}


/* Responsive HEADER */

@media (min-width: 34em) {  // 544 px / SM-MD-LG-XL
  .icon-lg {
    font-size: 80px;
  }
  header {
    min-height: 100%;
    .header-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
        h1 {
          font-size: 53px;
        }
        p {
          margin-right: auto;
          margin-left: auto;
          max-width: 80%;
          font-size: 18px;
        }
      }
    }
  }
  section {
    min-height: 600px;
    padding: 100px 0;
  }
}