@import "_fonts";
@import "_colors";


#location {
	.address {
		margin-bottom:25px;
	}
	.content {
		h2 {
			font-family: $hugs!important;
			font-size: 3em;
			color: $dark-green;
		}
		p {
			margin-bottom: 10px;
		}
	}
	i.fa-2x {
		margin: 20px 20px 20px 0px;

	}
	.social i {
		color: #9CB7C0;
		&:hover {
			color: black}
		}
}

#map {
  height: 400px;
}

/* HIDE GOOGLE MAPS TEXT */
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}

.gm-bundled-control .gmnoprint {
    display: block;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}
a[href^="https://www.google.com/maps"]{display:none !important}
