// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower

/* IMPORT STYLES FILES */
@import "navbar-style",
        "header-style",
        "opinions-style",
        "gallery-style",
        "ourmenu-style",
        "specialmenus-style",
        "location-style",
        "badges",
        "_colors",
        "_fonts";

// Bootstrap classes customization and more properties

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $montserrat;
  color: #001A33;
  webkit-tap-highlight-color: #222;
  top: 0;
  /* workaround modal-open padding issue */
  &.modal-open {
    padding-right: 0 !important;
  }
}

hr {
  max-width: 120px;
  border-width: 3px;
  opacity: 0.08;
  margin-top: 25px;
  margin-bottom: 25px;
  &.light {
    border-color: #fff;
    opacity: 1;
  }
  &.primary {
    border-color: $dark-green;
    opacity: 1;
  }
}

a {
  color: $sky-blue;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  &:hover, &:focus {
    color: #222;
    outline: 0;
  }
}

p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 20px;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

h2, h4 {
  padding-bottom: 15px;
  color: $sky-blue!important;
  font-family: $montserrat!important;
}

.text-normal {
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

.wide-space {
  letter-spacing: 1.6px;
}

.icon-lg {
  font-size: 50px;
  line-height: 18px;
}

.bg-primary {
  background-color: $super-light-green;
}

.bg-alt {
  background-color: #fff;
}

.text-faded {
  color: rgba(245, 245, 245, 0.7);
}

.text-dark {
  color: #001A33;
}

.text-light {
  color: #fff;
  &:hover, &:focus {
    color: #eee;
    text-decoration: none;
  }
}

.text-primary {
  color: $dark-green!important;
}

section {
  padding: 70px 0;
  background-color: $super-light-green;
}

aside {
  padding: 45px 0;
}

footer {
  padding: 45px;
  padding-top: 40px;
  h4, h6 {
    color: #fff;
  }
  .copyright {
    color: white!important;
  }
}

.list-group-item, .card-footer {
  background-color: transparent;
}

textarea {
  resize: none;
}

.call-to-action h2 {
  margin: 0 auto 20px;
}

.btn.btn-primary {
  background-color: transparent;
  border: 1px solid $sky-blue;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
  color: $sky-blue;
  &:hover {
    opacity: 0.7;
  }
}

.btn-primary-outline {
  border-color: $sky-blue;
  color: $sky-blue;
  &:hover {
    background-color: $sky-blue;
  }
}

.btn-xl {
  padding: 15px 30px;
  font-size: 20px;
}

::-moz-selection, ::selection {
  text-shadow: none;
  color: #fff;
  background: #222;
}

img {
  &::selection, &::-moz-selection {
    color: #fff;
    background: 0 0;
  }
}
