/* NAVBAR */

.navbar {
  border-color: rgba(35, 35, 35, 0.05);
  background-color: #fff;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.navbar-brand {
  color: #007FFF;
  padding: 1px;
  line-height: 1.90em;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
  float: none;
  &:hover, &:focus {
    color: #007FFF;
  }
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #001A33;
}

.navbar .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar .navbar-nav {
  > li > a {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
    &:focus {
      font-size: 12px;
      color: #001A33;
      text-transform: uppercase;
    }
    &:hover, &:focus:hover {
      color: #007FFF;
    }
  }
  .nav-link.active {
    color: #007FFF !important;
    background-color: transparent;
    &:focus {
      color: #007FFF !important;
      background-color: transparent;
    }
  }
}

/* Responsive NAVBAR */
@media (max-width: 48em) {  // < 768 px / XS-SM
  .navbar .navbar-nav {
    > .nav-item {
      float: none;
      margin-left: .1rem;
    }
    float: none !important;
  }
}

@media (min-width: 48em) {   // > 768 px / MD-LG-XL
  .navbar {
    border-color: transparent;
    background-color: #fff;
    min-height: 60px;
  }
  .navbar-brand {
    color: #007FFF;
    float: left;
    padding-left: 1px;
  }
  .navbar {
    .navbar-brand {
      &:hover, &:focus {
        color: #001A33;
      }
    }
    .navbar-nav > li > a {
      color: #001A33;
      letter-spacing: 1.1px;
      &:focus {
        color: #001A33;
        letter-spacing: 1.1px;
      }
      &:hover, &:focus:hover {
        color: #001A33;
      }
    }
  }
  #topNav {
    background-color: #fff;
  }
}