@import "_colors";
@import "_fonts";

/* NAVBAR */

.navbar {
  border-color: rgba(35, 35, 35, 0.05);
  background-color: #fff;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  transition: all .4s;
}

.navbar-brand {
  font-family: 'Hugs and Kisses';
  line-height: .6em!important;
  font-size: 2em;
  color: $dark-green;
  padding: 1px;
  line-height: 1.90em;
  -webkit-transition: padding .2s ease-in;
  -moz-transition: padding .2s ease-in;
  transition: padding .2s ease-in;
  float: none;
  padding-right: 10px;
  &:hover, &:focus {
    color: $dark-green;
  }
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #001A33;
}

.navbar .navbar-toggle, .navbar-default .navbar-collapse {
  border-color: transparent;
}

.navbar .navbar-nav {
  > li > a {
    font-size: 12px;
    letter-spacing: 1.1px;
    color: #001A33;
    text-transform: uppercase;
    &:focus {
      font-size: 12px;
      color: #001A33;
      text-transform: uppercase;
    }
    &:hover, &:focus:hover {
      color: $dark-green;
    }
  }
  .nav-link.active {
    color: $dark-green;
    background-color: transparent;
    &:focus {
      color: $dark-green;
      background-color: transparent;
    }
  }
}

/* Responsive NAVBAR */
@media (max-width: 48em) {  // < 768 px / XS-SM
  .navbar .navbar-nav {
    > .nav-item {
      float: none;
      margin-left: .1rem;
    }
    float: none !important;
  }
}

@media (min-width: 48em) {   // > 768 px / MD-LG-XL

  #topNav {
    background-color: #fff;
  }
}